body {
    background: url("BG-min.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
   background-attachment: fixed;
   /*overflow-y: hidden;*/
   overflow: scroll;
}
.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: center;
}
input[type=text], select {
    width: 50%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 35%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#myModal {
top:5%;
right:50%;
outline: none;
}

.card {
  background: #fff;
  border-radius: 12px;
  display: inline-block;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 270px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* The Modal (background) */
/*.myModal {*/
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top:100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
/*.modal-content {*/
    background-color: yellow;
    margin: auto;
    padding: 50px;
    border: 5px solid #888;
    border-radius: 10px;
    border-color: white;
    width: 40%;
}
body{
  /*background-image: url('Optimised_icons_all-sizes/drawable-xxxhdpi/BG-min.png');*/
  background-repeat: no-repeat;
}
.horizontal { display: inline;}
.img-responsive{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.icon {
  background-image :url('Optimised_icons_all-sizes/drawable-hdpi/Button_29_play_icon_white-min.png');
  background-repeat : no-repeat;
}
.videoIcon {
    top:101px; left:5px;
    height: 48px;
    width: 88px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}
.videoIcon {
    font-size: .95em;
}
.videoIcon.playS {
    /*background-position: 0 -2495px;*/
}
.moreIcon{
  background-image : url('Button_27_more-min.png')
  height: 48px;
  width: 88px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}
#prevAndnext{
  top:10px; left:25px;
  height: 48px;
  width: 88px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}
div.myClass {
    overflow-x: auto;
    white-space: nowrap;
}
div.myClass [class*="span"] {
    display: inline-block;
    float: none; /* Very important */
}

/* Test purposes */
.myClass .span5 { margin-top: 5px;min-height: 50px; }
div.myClass {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 480px) {
    #myVideo{
      width:290px;
    }
}
