<center>
    <div id='media-player'>
        <video width="400" controls poster="{{poster}}">
            <source ng-src="{{url}}" type="video/mp4">
        </video>
    </div>
</center>
<div ng-swipe-right="pagination.prevPage()" ng-swipe-left="pagination.nextPage()">
    <center>
        <div style="display: inline-block " ng-repeat="x in greeting |
         startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" class='img-responsive'>
            <a ng-swipe-right="pagination.prevPage()" ng-swipe-left="pagination.nextPage()">
                <img ui-sref="player({url:x.dnld_url,
              poster:x.image_path,pcatid:pcatid,catid:catid})" ng-swipe-right="pagination.prevPage()" ng-swipe-left="pagination.nextPage()" style='border-radius: 12%;' ng-src='{{x.image_path}}' width="250" />
                <br>
            </a>&nbsp&nbsp&nbsp
            <p>{{x.title}}</p>
            <br>
        </div>
    </center>
</div>
<center>
    <button class="button" ng-click="pagination.prevPage()" ng-hide="pagination.page == 0">Previous</button>
    <button class="button" ng-click="pagination.nextPage()" ng-hide="pagination.page + 1 >= pagination.numPages">Next</button>
</center>
