<!--
* FileName:videos.html
* CreatedBy: Vamsee
* Date :01-09-2016
* Purpose : User interface for displaying Contentlist
 -->
<!-- Displaying the Content List -->





<div ng-include = "'templates/nav.html'"></div>
<div class  = "container">
<!-- <div ng-swipe-right="pagination.prevPage()" ng-swipe-left="pagination.nextPage()"> -->
    <center>
        <!-- <div class="img col-md-3" ng-repeat="x in greeting | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" class='img-responsive'>
            <div class="card card-1">
                <a ng-swipe-right="pagination.prevPage()" ng-swipe-left="pagination.nextPage()">
                    <img class = "img1" style="display:inline-block "  ng-src='{{x.image_path}}' width="250" style='border-radius: 10%;'/>
                    <span ui-sref="player({url:x.dnld_url,poster:x.image_path,pcatid:pcatid,catid:catid})" class="icon videoIcon playS"></span>
                </a>
                <p>{{x.title}}</p>
                <br>
            </div>
        </div> -->
        <div class = "myClass">
          <div class = "row">
            <div  class = "span5" ng-repeat="x in data | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" class='img-responsive'>
              <div class="card card-1">
                  <a>
                      <img class = "img1" style="display:inline-block "  ng-src='{{x.image_path}}' width="250" style='border-radius: 10%;'/>
                      <span ui-sref="player({url:x.dnld_url,poster:x.image_path,pcatid:pcatid,catid:catid,count:count})" class="icon videoIcon playS"></span>
                  </a>
                  <p>{{x.title}}</p>
                  <br>
              </div>
            </div>
          </div>
        <!-- </div> -->
        <!-- <div>
          <div infinite-scroll='loadMore()' infiniteScrollHorizontal infinite-scroll-distance='2' >
            <img ng-repeat='image in images' ng-src='http://placehold.it/225x250&text={{image}}'>
          </div>
        </div> -->

    </center>
</div>
</div>
<center>
<div>
    <!-- Navigation buttons for next and previous pages of  the list -->
    <center>
        <button class="button" ng-click="pagination.prevPage()" ng-hide="pagination.page == 0">Previous</button>
        <button class="button" ng-click="pagination.nextPage()" ng-hide="pagination.page + 1 >= pagination.numPages">Next</button>
    </center>
</div>
</center>
