<nav>
  <ul>
    <img class = "float:left" src = 'Optimised_icons_all-sizes/drawable-xxxhdpi/Button_7_menu_on-min.png' height="50" width="50">
    <img class = "float_center" src = 'Optimised_icons_all-sizes/drawable-xxxhdpi/Button_5_history_on-min.png' height="50" width="50">
    <img style="float:right" src = 'Optimised_icons_all-sizes/drawable-xxxhdpi/Button_8_kart_on-min.png' height="50" width="50">
    <img style="float:right" src = 'Optimised_icons_all-sizes/drawable-xxxhdpi/Button_6_search_on-min.png' height="50" width="50">
  </ul>
</nav>
